/*
 * Remove template code below
 */
:host {
  display: block;
  font-family: sans-serif;
  min-width: 25em;
  max-width: 50em;
  margin: 4em auto;
}
  
.title {
  text-align: center;
  color: #dd0031;
}

.title .bigger {
  font-size: 6em;
}

.title * {
  margin: 0;
  font-size: 4em;
}

.logo {
  margin-top: 2em;
  width: 100%;
  height: 100%;
  padding: 1em;
}