/*
 * Remove template code below
 */
:host {
  display: block;
  font-family: sans-serif;
  min-width: 25em;
  max-width: 50em;
  margin: 4em auto;
}

.title {
  $color: #dd0031;
  text-align: center;
  color: $color;

  .bigger {
    font-size: 6em;
  }

  * {
    margin: 0;
    font-size: 4em;
  }
}

.logo {
  margin-top: 2em;
  width: 100%;
  height: 100%;
}
